* {margin:0; padding:0;}
html, body {height: 100%;}
body {font-family:SS-Light; font-size:20px; line-height:36px; color:#57534c; background:#ffffff;}
.clear {display:block; clear:both; height:0;}
a img {border:none;}
a {outline:none;}

header, nav, section, article, aside, footer {display:block;}

.loaded *, .loaded {-moz-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in;}
img {-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;}
input[type="submit"] {-webkit-appearance: none;}


/***** Fonts *****/
@font-face {
    font-family: 'SS-Light';
    src: url('fonts/sourcesanspro-light-webfont.eot');
    src: url('fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SS-SB';
    src: url('fonts/sourcesanspro-semibold-webfont.eot');
    src: url('fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBook';
    src: url('fonts/ufonts_com_gothambook.eot');
    src: url('fonts/ufonts_com_gothambook.eot') format('embedded-opentype'),
         url('fonts/ufonts_com_gothambook.woff2') format('woff2'),
         url('fonts/ufonts_com_gothambook.woff') format('woff'),
         url('fonts/ufonts_com_gothambook.ttf') format('truetype'),
         url('fonts/ufonts_com_gothambook.svg#ufonts_com_gothambook') format('svg');
}

@font-face {
    font-family: 'GothamLight';
    src: url('fonts/GothamLight.eot');
    src: url('fonts/GothamLight.eot') format('embedded-opentype'),
         url('fonts/GothamLight.woff2') format('woff2'),
         url('fonts/GothamLight.woff') format('woff'),
         url('fonts/GothamLight.ttf') format('truetype'),
         url('fonts/GothamLight.svg#GothamLight') format('svg');
}

@font-face {
    font-family: 'GothamBlack';
    src: url('fonts/ufonts_com_gothamblack.eot');
    src: url('fonts/ufonts_com_gothamblack.eot') format('embedded-opentype'),
         url('fonts/ufonts_com_gothamblack.woff2') format('woff2'),
         url('fonts/ufonts_com_gothamblack.woff') format('woff'),
         url('fonts/ufonts_com_gothamblack.ttf') format('truetype'),
         url('fonts/ufonts_com_gothamblack.svg#ufonts_com_gothamblack') format('svg');
}

@font-face {
    font-family: 'GothamMedium';
    src: url('fonts/GothamMedium.eot');
    src: url('fonts/GothamMedium.eot') format('embedded-opentype'),
         url('fonts/GothamMedium.woff2') format('woff2'),
         url('fonts/GothamMedium.woff') format('woff'),
         url('fonts/GothamMedium.ttf') format('truetype'),
         url('fonts/GothamMedium.svg#GothamMedium') format('svg');
}

@font-face {
    font-family: 'GothamBold';
    src: url('fonts/GothamBold.eot');
    src: url('fonts/GothamBold.eot') format('embedded-opentype'),
         url('fonts/GothamBold.woff2') format('woff2'),
         url('fonts/GothamBold.woff') format('woff'),
         url('fonts/GothamBold.ttf') format('truetype'),
         url('fonts/GothamBold.svg#GothamBold') format('svg');
}

body.page-id-7 #container {background: transparent url(images/about-bg-image.jpg) no-repeat right bottom;}


/***** Wrapper  *****/
#wrapper {padding:24px 30px;}


/***** Header *****/
#header-container {background-size:cover !important; padding:0 15px; position:relative; z-index:1000;}
#header {max-width:1620px; margin:0 auto; padding:34px 0;}


/***** Logo *****/
#logo {float:left; display:block;}
#logo img {max-width:100%; height:auto; display:block;}


/***** Menu *****/
#nav {float:right; padding-top:18px;}
#menu {list-style:none;}
#menu > li {display:inline-block; position:relative; vertical-align:top; margin-left:24px; padding:10px 0;}
#menu > li > a {display:inline-block; text-decoration:none; color:#6d6e71; font-size:15px; line-height:20px; font-family:GothamBook; text-transform:uppercase; border-bottom:6px solid transparent; padding:2px 0;}
.home #menu > li > a {color:#ffffff;}

#menu > li.current-menu-item > a, #menu > li.current-menu-parent > a, #menu > li > a:hover, #menu > li.current_page_parent > a {border-color:#000000;}
.home #menu > li.current-menu-item > a, .home #menu > li.current-menu-parent > a, .home #menu > li > a:hover, .home #menu > li.current_page_parent > a {border-color:#ffffff;}

#menu > li > ul {display:none; position:absolute; left:0; top:55px; background-color:#ffffff; width:272px; padding:18px 0; z-index:1000;}
#menu > li > ul > li {display:block;}
#menu > li > ul > li > a {display:block; text-transform:uppercase; text-decoration:none; color:#57534c; font-size:13px; line-height:16px; font-family:GothamLight; padding:8px 15px 9px 25px;}
#menu > li > ul > li > a:hover, #menu > li > ul > li.current-menu-item > a {background-color:#dadbdc;} 
#menu > li:hover > ul {display:block;}


/***** Mobile Menu *****/
#mobile-nav {display:none; position:absolute; left:0; top:110px; z-index:1000; text-align:left; width:100%; background-color:#ffffff;}

#mobile-menu-button {display:none; text-decoration:none; text-transform:uppercase; color:#57534c; font-family:GothamBold; font-size:16px; float:right; margin-top:22px;}
.home #mobile-menu-button {color:#ffffff;}

#mobile-menu-button .lines {display:inline-block; width:24px; position:relative; top:3px; margin-right:5px;}
#mobile-menu-button .lines .line {display:block; width:24px; height:4px; margin-top:3px; background-color:#57534c;}
.home #mobile-menu-button .lines .line {background-color:#ffffff;}
#mobile-menu-button .lines .line:first-child {margin-top:0;}
#mobile-menu-button.active {color:#0e122e;}
.home #mobile-menu-button.active {color:#dadbdc;}
#mobile-menu-button.active .lines .line {background-color:#0e122e;}
.home #mobile-menu-button.active .lines .line {background-color:#dadbdc;}


#mobile-menu {display:none;}
#mobile-menu {list-style:none;}
#mobile-menu li {border-top:1px solid #6d6e71;}

#mobile-menu li ul {list-style:none; display:none;}
#mobile-menu li a {text-decoration:none; color:#57534c; text-transform:uppercase; font-size:14px; line-height:22px; font-family:GothamBook; padding:4px 10px 2px 10px; display:block;}
#mobile-menu li ul li a {padding-left:25px;}
#mobile-menu li a:hover, #mobile-menu > li.current-menu-item > a, #mobile-menu > li.current-menu-parent > a, #mobile-menu > li > ul > li.current-menu-item a, #mobile-menu > li.current_page_parent > a {color:#57534c; background-color:#dadbdc;}
#mobile-menu > li:last-child a {padding-bottom:1px;}
#mobile-menu > li.dropdown > a:after {content:"+"; float:right; font-size:17px;}
#mobile-menu > li.dropdown > a.open:after {content:"-"; float:right; font-size:24px;}


/***** Header Page Title *****/
#header-page-title {padding:155px 0 0 0;}
#header-page-title .left {float:left; width:47.5%; margin-right:5%;}
#header-page-title .right {float:left; width:47.5%;}

#header-page-title h1 {font-size:113px; line-height:90px; font-family:GothamBlack; font-weight:normal; color:#ffffff; letter-spacing:-2px;}
#header-page-title p {color:#ffffff; font-family:GothamLight; font-size:24px; line-height:32px; padding-top:30px;}


/***** Home Boxes *****/
#home-boxes {padding:58px 3px 0 3px; position:relative;}
#home-boxes .box {float:left; margin-left:37px;}
#home-boxes .box:first-child {margin-left:0;}
#home-boxes .box a.button {display:block; border:3px solid #ffffff; background:rgba(59, 187, 210, 0.1); color:#ffffff; text-decoration:none; text-transform:uppercase; width:230px; height:230px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position:relative; z-index:10;}
#home-boxes .box a.button .text {position:absolute; left:0; top:120px; width:100%; padding:0 14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#home-boxes .box a.button .title {display:block; font-size:20px; letter-spacing:-1px; line-height:27px; font-family:GothamBold;}
#home-boxes .box a.button .description {display:block; font-size:18px; line-height:20px; font-family:GothamBook; padding:6px 0;}
#home-boxes .box a.button:hover {background-color:#0e122e;}
#home-boxes .box a.button.active {border-bottom:none; padding-bottom:3px; background-color:#0e122e;}

#home-boxes .box .more {background-color:#0e122e; border:3px solid #ffffff; width:764px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; z-index:5; position:relative; padding:59px 15px 69px 19px; display:none; position:absolute; left:3px; top:285px;}
#home-boxes .box .more ul {display:inline-block; padding:0 11px; vertical-align:top; max-width:40%;}
#home-boxes .box .more ul:first-of-type {border-right:1px solid #ffffff; margin-right:24px; padding-right:40px;}
#home-boxes .box .more ul li {display:block; text-transform:uppercase; color:#ffffff; font-family:GothamBold; font-size:20px; line-height:30px; padding-bottom:7px;}
#home-boxes .box .more ul li br {display:none;}
#home-boxes .box .more ul li a {display:block; text-transform:none; color:#ffffff; font-family:GothamLight; font-size:20px; line-height:30px; padding:0 10px 7px 10px; margin-left:-10px;}
#home-boxes .box .more ul li a:hover {background-color:#4e505f;}

#home-boxes .box .more .close {position:absolute; width:32px; height:32px; display:block; top:64px; right:40px; background: transparent url(images/close-icon.png) no-repeat left top;}
#home-boxes .box .more .close:hover {opacity:0.6; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60);}


/***** ScrollDown *****/
#header .scrollDown {width:76px; height:76px; display:block; background-color:#e0e0e0; border:3px solid #e0e0e0; margin:127px 0 0 3px; text-align:center; -webkit-animation: bounce 2s infinite; -moz-animation: bounce 2s infinite; -o-animation: bounce 2s infinite; animation:bounce 2s infinite;}
#header .scrollDown img {display:block; margin:9px auto 0 auto; max-width:100%; height:auto;}
#header .scrollDown:hover {background-color:#0e122e; border-color:#ffffff;}
#header .scrollDown:hover img {-webkit-filter: brightness(0) invert(1); filter: brightness(0) invert(1);}


@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -ms-transform:translateY(0);
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
	40% {
    -ms-transform:translateY(-20px);
    -webkit-transform:translateY(-20px);
    transform:translateY(-20px);
  }
	60% {
    -ms-transform:translateY(-10px);
    -webkit-transform:translateY(-10px);
    transform:translateY(-10px);
  }
}


/***** Content *****/
#container {padding:0 15px 78px 15px;}
.home #container {padding:122px 15px 78px 15px;}
#content {max-width:1620px; margin:0 auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position:relative;}
#container.padding-left #content {padding-left:260px;}
#content .inner {padding:83px 0 0 0;}


/***** Page Title *****/
#page-title {position:absolute; left:0; top:0;}
#page-title h1 {font-weight:normal; text-transform:uppercase; color:#0e122e; font-family:GothamBlack; font-size:75px; line-height:61px; letter-spacing:-4px;}


/***** Text Formatting *****/
#content p {padding-bottom:36px;}

#content .box {padding:40px 0 50px 0;}

#content h1 {font-weight:normal; font-size:44px; line-height:45px; padding-top:23px; padding-bottom:36px; text-transform:uppercase;}
#content h1 a {text-decoration:none; color:#57534c;}
#content h1 a:hover {color:#017b91;}
#content h2 {font-weight:normal; font-size:30px; line-height:45px; padding-bottom:36px;}
#content h3 {font-weight:normal; font-size:25px; line-height:40px; padding-bottom:8px; color:#272a44; font-family:SS-SB;}

#content strong {font-weight:normal; font-family:SS-SB;}

#content a {color:#017b91;}
#content a:hover {text-decoration:none;}

#content img {max-width:100%; height:auto; margin:40px 0 40px 0;}
#content .alignright {float:right; margin:40px 0 40px 20px;}
#content .alignleft {float:left; margin:40px 20px 40px 0;}

#content ul {font-size:20px; line-height:36px; color:#272a44; list-style:none;}
#content ul li {padding:10px 0 10px 13px; position:relative;}
#content ul li:before {content:""; width:7px; height:7px; display:block; position:absolute; left:0; top:25px; background-color:#272a44;}


/***** Columns *****/
#content .column {float:left; width:47.5%; margin-right:5%;}
#content .column.last {margin-right:0;}

#container.full #content .column {width:45%; margin-right:10%; margin-bottom:65px;}
#container.full #content .column.last {margin-right:0;}


/***** Contact Form *****/
#content .contact-form-container {background-color:#0e122e; position:relative; padding:0 32px 0 260px; margin-top:5px;}
#content .contact-form-container h2 {text-transform:uppercase; color:#ffffff; font-family:GothamBlack; font-size:35px; line-height:30px; font-weight:normal; position:absolute; left:57px; top:207px;}
#content .contact-form-container.submitted {padding:0 32px;}
#content .contact-form-container.submitted h2 {display:none;}
#content .contact-form-container.submitted .contact-form {padding:40px 0;}

#content .gforms_confirmation_message {color:#ffffff;}

#content .gform_wrapper ul {list-style:none; padding:0; margin:0;}
#content .gform_wrapper ul li {list-style:none; padding:0; margin:0;}
#content .gform_wrapper ul li:before {display:none !important;}
#content .gform_wrapper .gfield_required {display:none !important;}
#content .gform_wrapper .validation_error {color:#f00; padding-bottom:10px;}
#content .gform_wrapper .validation_message {color:#f00;}

#content .contact-form {padding:65px 0 85px 0;}
#content .contact-form p {padding:0;}
#content .contact-form br {display:none;}
#content .contact-form label {display:block; font-weight:normal; color:#ffffff; text-transform:uppercase; font-size:20px; line-height:30px; font-family:GothamLight; padding:0 0 3px 0;}
#content .contact-form input[type="text"], #content .contact-form input[type="tel"], #content .contact-form input[type="email"], #content .contact-form input[type="password"] {width:100%; padding-left:10px; font-family:GothamLight; color:#57534c; font-size:20px; height:56px; line-height:56px; background-color:#ffffff; border:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom:21px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}

#content .contact-form textarea {max-width:100%; min-width:100%; width:100%; padding-left:10px; font-family:GothamLight; color:#57534c; font-size:20px; min-height:123px; height:123px; line-height:36px; background-color:#ffffff; border:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top:10px; margin-bottom:20px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}

#content .contact-form input[type="submit"] {width:100%; text-align:center; border:3px solid #4683a0; background-color:#4683a0; color:#ffffff; text-transform:uppercase; font-family:GothamLight; font-size:20px; line-height:36px; padding:6px 0; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}
#content .contact-form input[type="submit"]:hover {cursor:pointer; color:#4683a0; background-color:#ffffff;}


/***** Footer *****/
#footer-container {background-color:#dfdfdf; padding:0 15px;}
#footer {max-width:1620px; margin:0 auto; padding:111px 0 34px 0;}

#footer .left {float:left; width:32%; padding-right:4%;}
#footer .left p {font-size:16px; line-height:36px; padding-bottom:36px;}
#footer .left img {display:block; max-width:100%; height:auto;}

#footer .right {float:left; padding-left:4%; width:60%; border-left:1px solid #979fa6; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}


/***** Phone Numbers *****/
#footer .phone-numbers {float:left; margin-right:31px;}
#footer .phone-numbers p {color:#455666; font-family:GothamBook; font-size:19px; line-height:30px; padding:4px 0 4px 39px; background: transparent url(images/phone-icon.png) no-repeat left center;}
#footer .phone-numbers strong {font-weight:normal; font-family:GothamMedium;}
#footer .phone-numbers a {color:#455666; text-decoration:none;}
#footer .phone-numbers a:hover {color:#0e122e;}
#footer .phone-numbers strong:first-of-type {display:inline-block; width:140px; text-transform:uppercase;}


/***** Social Icons *****/
#footer .social-icons {margin-top:9px;}
#footer .social-icons a {display:inline-block; width:44px; height:44px; margin:3px 21px;}
#footer .social-icons a.facebook {background:#0e122e url(images/facebook-icon.png) no-repeat center center;}
#footer .social-icons a.twitter {background:#0e122e url(images/twitter-icon.png) no-repeat center center;}
#footer .social-icons a.linkedin {background:#0e122e url(images/linkedin-icon.png) no-repeat center center;}
#footer .social-icons a.googleplus {background:#0e122e url(images/googleplus-icon.png) no-repeat center center;}
#footer .social-icons a:hover {background-color:#4683a0;}


/***** Footer Menu *****/
#footer #footer-nav {max-width:700px; margin:48px 0 0 23px; display:block;}
#footer #footer-menu {list-style:none;}
#footer #footer-menu li {display:inline-block; margin:0 13px 0 14px;}
#footer #footer-menu li a {text-decoration:none; text-transform:uppercase; font-family:GothamBook; font-size:16px; line-height:22px; color:#455666;}
#footer #footer-menu li a:hover, #footer #footer-menu li.current-menu-item a {color:#4683a0;}


/***** Credits *****/
#credits {float:right; text-decoration:none; color:#767676; font-family:SS-Light; font-size:12px; line-height:16px; margin-top:15px;}
#credits:hover {color:#455666;}


/***** Page Banner *****/
#page-banner-container {padding:0 15px; background-size:cover !important;}
#page-banner {max-width:1620px; margin:0 auto; min-height:516px;}
#page-banner h1 {padding-top:10.5%; text-transform:uppercase; color:#ffffff; font-weight:normal; font-family:GothamBlack; font-size:76px; line-height:60px;}


/***** Services *****/
#services-container {padding:37px 0 50px 0;}
#services-container h1 {font-size:44px; line-height:54px; font-family:GothamLight; font-weight:normal; text-transform:uppercase; text-align:center; padding:33px 0;}
#services .service {float:left; width:23.5%; margin-right:2%; margin-bottom:22px;}
#services .service:nth-child(4n) {margin-right:0;}
#services .service:nth-child(4n+1) {clear:left;}
#services .service a {display:block; text-decoration:none; color:#57534c; border:3px solid #adaeaf; padding:15px 15px 15px 100px; height:120px; position:relative;}
#services .service a .image {position:absolute; left:15px; top:50%; margin-top:-24px;}
#services .service a .image img {display:block; max-width:100%; height:auto; margin:0; opacity:0.26; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=26)"; filter: alpha(opacity=26);}
#services .service a .text {display:block; color:#57534c; font-family:GothamBold; text-transform:uppercase; font-size:25px; line-height:31px;}
#services .service a:hover {background-color:#e5e5e5;}
#services .service a:hover .image img {opacity:1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);}


/***** Sidebar Left *****/
#container.has-sidebar-left {padding-top:60px;}
#container.has-sidebar-left #content {padding-left:440px; position:relative; padding-top:0;}
#container.has-sidebar-left #content .inner {padding-top:0;}

#sidebar-left {position:absolute; left:0; top:2px; width:334px;}


/***** Breadcrumbs *****/
#breadcrumbs-container {padding:1px 0;}
#breadcrumbs {max-width:1620px; padding-left:440px; margin:0 auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-transform:uppercase;}
#breadcrumbs > span {display:inline-block; color:#4e4e4e; font-size:14px; font-family:GothamLight; line-height:20px; margin-right:12px;}
#breadcrumbs a {display:inline-block; color:#4e4e4e; font-size:14px; font-family:GothamLight; line-height:20px;}
#breadcrumbs a:hover {text-decoration:none;}
#breadcrumbs p {display:inline-block; color:#4e4e4e; font-size:14px; font-family:GothamLight; line-height:20px; margin-right:12px;}
#breadcrumbs br {display:none;}

body.blog #breadcrumbs {padding-left:350px;}
body.single-post #breadcrumbs {padding-left:350px;}


/***** Sidebar Menu *****/
#content #sidebar-menu {list-style:none; padding:0; margin:0;}
#content #sidebar-menu li {padding:8px 0; display:block; border-bottom:2px solid #e7e7e7;}
#content #sidebar-menu li br {display:none;}
#content #sidebar-menu li:before {display:none;}
#content #sidebar-menu li:last-child {border:none;}
#content #sidebar-menu li a {text-decoration:none; color:#57534c; text-transform:uppercase; font-family:GothamLight; font-size:18px; line-height:31px; display:block; border:2px solid #ffffff; padding:2px 10px 2px 22px;}
#content #sidebar-menu li a:hover, #content #sidebar-menu li.current-menu-item a {border-color:#969696;} 


/***** Sidebar Right *****/
#container.has-sidebar-right {padding-top:60px;}
#container.has-sidebar-right #content {padding-right:500px; position:relative; padding-top:0;}
#container.has-sidebar-right #content .inner {padding-top:0;}

#sidebar-right {position:absolute; right:0; top:0px; width:390px;}

#content aside h2 {color:#0e122e; font-family:GothamBlack; font-size:26px; line-height:30px; padding:0 0 15px 24px; text-transform:uppercase;}


/***** News *****/
#content #posts .post {position:relative; padding-left:350px; min-height:312px; margin-bottom:130px;}
#content #posts .post .post-thumb {position:absolute; left:0; top:8px;}
#content #posts .post .post-thumb a {display:block; border:3px solid #a8a8a8;}
#content #posts .post .post-thumb a:hover {border-color:#0e122e;}
#content #posts .post .post-thumb a img {display:block; max-width:100%; height:auto; margin:0;}
#content #posts .post h1 {font-size:40px; line-height:45px; padding:0 0 11px 0;}
#content #posts .post.event h1 {padding:0 0 18px 0;}
#content #posts .post .post-date {display:block; color:#6f6f6f; font-family:GothamLight; font-size:14px; text-transform:uppercase; padding-bottom:29px;}
#content #posts .post .post-date a {text-decoration:none;}
#content #posts .post .post-date a:hover {text-decoration:underline;}
#content #posts .post .post-event-date {text-transform:uppercase; font-family:GothamLight; line-height:32px; display:block;}
#content #posts .post .post-event-date strong {text-transform:uppercase; font-family:GothamBold;}

body.single-post #content .post > img:first-of-type {margin-top:0; border:3px solid #a8a8a8; max-width:none; width:100%; height:auto;}




/***** Page Navigation *****/
#content #page-navigation {text-align:center;}
#content #page-navigation a {color:#1e7ba1; font-size:18px; line-height:30px; display:inline-block; margin:0 7px;}
#content #page-navigation span {color:#585858; font-size:18px; line-height:30px; display:inline-block; margin:0 7px;}
#content #page-navigation p {color:#585858; font-size:18px; line-height:30px; display:inline-block; margin:0 7px;}
#content #page-navigation a:hover {text-decoration:none;}


/***** Newsletter Form *****/
#content #newsletter {background-color:#0e122e; padding:29px 24px 37px 24px; margin-bottom:60px;}
#content #newsletter h2 {text-transform:uppercase; color:#ffffff; font-family:GothamBlack; font-size:34px; line-height:34px; font-weight:normal; padding:0 0 25px 0;}
#content #newsletter p {padding:0;}
#content #newsletter br {display:none;}
#content #newsletter label {display:block; font-weight:normal; color:#ffffff; text-transform:uppercase; font-size:20px; line-height:30px; font-family:GothamLight; padding:0 0 10px 0;}
#content #newsletter input[type="text"], #content #newsletter input[type="tel"], #content #newsletter input[type="email"], #content #newsletter input[type="password"] {width:100%; padding-left:10px; font-family:GothamLight; color:#57534c; font-size:20px; height:56px; line-height:56px; background-color:#ffffff; border:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom:21px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}

#content #newsletter textarea {max-width:100%; min-width:100%; width:100%; padding-left:10px; font-family:GothamLight; color:#57534c; font-size:20px; min-height:123px; height:123px; line-height:36px; background-color:#ffffff; border:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top:10px; margin-bottom:20px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}

#content #newsletter input[type="submit"] {width:100%; text-align:center; border:3px solid #4683a0; background-color:#4683a0; color:#ffffff; text-transform:uppercase; font-family:GothamLight; font-size:20px; line-height:36px; padding:6px 0; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}
#content #newsletter input[type="submit"]:hover {cursor:pointer; color:#4683a0; background-color:#ffffff;}


/***** Shhare Post *****/
#content .share-post {margin:9px 0 40px 0; border-top:1px solid #b7b5b2; border-bottom:1px solid #b7b5b2; padding:40px 0;}
#content .share-post p {display:inline-block; vertical-align:middle; padding:0 20px 0 0; text-transform:uppercase;}
#content .share-post a {display:inline-block; width:44px; height:44px; margin:3px 0 3px 40px; vertical-align:middle;}
#content .share-post a.facebook {background:#0e122e url(images/facebook-icon.png) no-repeat center center;}
#content .share-post a.twitter {background:#0e122e url(images/twitter-icon.png) no-repeat center center;}
#content .share-post a.linkedin {background:#0e122e url(images/linkedin-icon.png) no-repeat center center;}
#content .share-post a.googleplus {background:#0e122e url(images/googleplus-icon.png) no-repeat center center;}
#content .share-post a.email {background:#0e122e url(images/email-icon.png) no-repeat center center;}
#content .share-post a:hover {background-color:#4683a0;}



/***** Comments *****/
#content #commentform label {display:block; font-weight:normal; color:#57534c; text-transform:uppercase; font-size:20px; line-height:30px; font-family:GothamLight; padding:0 0 3px 0;}
#content #commentform input[type="text"], #content #commentform input[type="tel"], #content #commentform input[type="email"], #content #commentform input[type="password"] {width:100%; padding-left:10px; font-family:GothamLight; color:#57534c; font-size:20px; height:56px; line-height:56px; background-color:#ffffff; border:1px solid #cccccc; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom:21px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}

#content #commentform textarea {max-width:100%; min-width:100%; width:100%; padding-left:10px; font-family:GothamLight; color:#57534c; font-size:20px; min-height:123px; height:123px; line-height:36px; background-color:#ffffff; border:1px solid #cccccc; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top:10px; margin-bottom:20px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}

#content #commentform input[type="submit"] {width:100%; text-align:center; border:3px solid #4683a0; background-color:#4683a0; color:#ffffff; text-transform:uppercase; font-family:GothamLight; font-size:20px; line-height:36px; padding:6px 0; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}
#content #commentform input[type="submit"]:hover {cursor:pointer; color:#4683a0; background-color:#ffffff;}
#content #commentform p {padding:0;}


#content #comments img.avatar {max-width:128px; height:auto; width:auto; border:none; margin:0; position:absolute; left:0; top:0;}
#content #comments .comment-author {position:relative; padding-left:150px; padding-bottom:29px;}
#content #comments .comment-author cite {font-style:normal; color:#0a75b7;}
#content #comments .comment-author  a {color:#6a6a6a; text-decoration:none;}
#content #comments .reply {padding-left:150px;}

#content #comments .comment-content p {padding:0;}
#content #comments ol.commentlist {list-style:none; padding:0; margin:0;}
#content #comments ol {list-style:none; padding:0; margin:0;}
#content #comments ol li {min-height:128px; padding:0 0 25px 0 !important;}
#content #comments ol ol {padding-left:75px;}


#content #comments .comment {font-family:SS-Light; color:#4e4e4e; font-size:18px; line-height:30px; padding-bottom:25px;}
#content #comments .comment .comment-meta cite:after {content:" - ";}

#content #comments .comment.comment-content {padding-left:150px;}
#content #comments .comment.comment-content p {font-family:SS-Light; color:#4e4e4e; font-size:18px; line-height:30px;}

#content #comments p.comment-form-comment {padding-top:15px;}



body.page-template-template-contact #content a {text-decoration:none; color:#57534c;}
body.page-template-template-contact #content a:hover {color:#017b91;}





/***** Media Queries *****/
@media screen and (max-width: 2000px){
    #header-page-title {padding:110px 0 0 0;}
    #header-page-title h1 {font-size:100px; line-height:84px;}
    #header-page-title p {padding-top:22px;}

    #header .scrollDown {margin:90px 0 0 3px;}
    #header .scrollDown img {display:block; margin:9px auto 0 auto; max-width:100%; height:auto;}

    #home-boxes {padding:58px 3px 0 3px; position:relative;} 
    #home-boxes .box a.button {width:220px; height:220px;}
    #home-boxes .box a.button .text {top:110px;}
    #home-boxes .box a.button .title {font-size:20px; line-height:25px;}
    #home-boxes .box a.button .description {font-size:18px; line-height:20px; padding:5px 0;}
    #home-boxes .box .more {width:734px; padding:25px 15px 25px 15px; left:3px; top:275px;}
    #home-boxes .box .more ul li {font-size:18px; line-height:24px; padding-bottom:5px;}
    #home-boxes .box .more ul li a {font-size:18px; line-height:24px; padding:0 10px 5px 10px;}
    #home-boxes .box .more .close {width:24px; height:24px; background-size:24px 24px !important; top:25px; right:25px;}

}

@media screen and (max-width: 1800px){
    #services .service {width:32%; margin-right:2%;}
    #services .service:nth-child(4n) {margin-right:2%;}
    #services .service:nth-child(4n+1) {clear:none;}
    #services .service:nth-child(3n) {margin-right:0;}
    #services .service:nth-child(3n+1) {clear:left;} 
}

@media screen and (max-width: 1700px){
    #header-page-title {padding:90px 0 0 0;}
    #header-page-title h1 {font-size:90px; line-height:76px;}
    #header-page-title p {padding-top:15px;}
}

@media screen and (max-width: 1500px){
    #container {padding:0 15px 50px 15px;}
    .home #container {padding:50px 15px 50px 15px;}
    #container.padding-left #content {padding-left:0; padding-top:0 !important;}
    #content .inner {padding:50px 0 0 0;}
    #page-title {position:relative; left:auto; top:auto;}
    #page-title h1 {font-size:60px; line-height:56px; letter-spacing:-3px;}
    
    #footer .social-icons a {margin:3px 10px;}
}

@media screen and (max-width: 1400px){
    #home-boxes {padding:35px 3px 0 3px;}
    #home-boxes .box {margin-left:15px;}
    #home-boxes .box:first-child {margin-left:0;}
    #home-boxes .box a.button {width:180px; height:150px;}
    #home-boxes .box a.button .text {top:50px; padding:0 8px;}
    #home-boxes .box a.button .title {font-size:18px; line-height:22px;}
    #home-boxes .box a.button .description {font-size:14px; line-height:18px; padding:4px 0;}
    #home-boxes .box .more {width:570px; padding:15px 15px 15px 15px; top:182px;}
    #home-boxes .box .more ul {padding:0 6px;}
    #home-boxes .box .more ul:first-of-type {margin-right:15px; padding-right:20px;}
    #home-boxes .box .more ul li {font-size:16px; line-height:24px; padding-bottom:4px;}
    #home-boxes .box .more ul li a {font-size:16px; line-height:24px; padding:0 6px 5px 6px; margin-left:-6px;}
    #home-boxes .box .more .close {width:20px; height:20px; top:15px; right:15px; background-size:20px 20px !important;}
    
    #header-page-title {padding:45px 0 0 0;}
    #header-page-title h1 {font-size:60px; line-height:50px; letter-spacing:-2px;}
    #header-page-title p {padding-top:5px; font-size:18px; line-height:24px;}
    
    #footer {padding:50px 0 34px 0;}
    #footer .social-icons {clear:left; margin-left:29px; padding-top:25px;}
    #footer #footer-nav {margin:15px 0 0 23px;}
    
    #page-banner {min-height:450px;}
    
    #services .service a .text {font-size:20px; line-height:26px;}
    
    #container.has-sidebar-right #content {padding-right:440px;}
    #content #posts .post {padding-left:250px; min-height:218px; margin-bottom:70px;}
    #content #posts .post .post-thumb {max-width:220px;}
    
    body.single-post #content #posts .post {padding-left:0;}
    
    #header .scrollDown {width:40px; height:50px; margin:50px 0 0 3px; padding:0 5px;}
    #header .scrollDown img {margin:8px auto 0 auto; display:block; max-width:100%; height:auto;}
    
    body.page-id-7 #container {background-size:75% auto !important;}
}

@media screen and (max-width: 1200px){
    #wrapper {padding:15px;}
    
    #container {padding-left:0; padding-right:0; padding-bottom:25px;}
    
    #header-page-title {padding:80px 0 0 0;}
    #header-page-title h1 {font-size:60px; line-height:50px;}
    #header-page-title p {padding-top:0px; font-size:20px; line-height:28px;}
    
    #content .contact-form-container {padding:25px;}
    #content .contact-form-container h2 {font-size:35px; line-height:30px; position:relative; left:auto; top:auto;}
    #content .contact-form-container h2 br {display:none;}
    #content .contact-form {padding:20px 0 0px 0;}
    
    #page-banner {min-height:400px;}
    
    #services .service {width:49%; margin-right:2%;}
    #services .service:nth-child(4n) {margin-right:2%;}
    #services .service:nth-child(4n+1) {clear:none;}
    #services .service:nth-child(3n) {margin-right:2%;}
    #services .service:nth-child(3n+1) {clear:none;}
    #services .service:nth-child(2n) {margin-right:0;}
    #services .service:nth-child(2n+1) {clear:left;} 
    
    #container.has-sidebar-left #content {padding-left:380px;}
    #breadcrumbs {padding-left:380px;}
    
    #content .share-post a {margin:3px 0 3px 20px;}
}

@media screen and (max-width: 1060px){
    #logo {max-width:350px;}
    
    #nav {padding-top:12px;}
    #menu > li {margin-left:15px;}   
    
    #content .share-post p {display:block;}
    #content .share-post a {margin:3px 20px 3px 0px;}
}

@media screen and (max-width: 940px){
    #header {padding:15px 0;}
    
    #nav {display:none;}
    
    #mobile-nav {display:block;}
    #mobile-menu-button {display:block;}
    
    #header-page-title {padding:75px 0 0 0;}
    #header-page-title .left h1 br {display:none !important;}
    #header-page-title .left {float:none; width:auto; margin-right:0; padding-bottom:10px;}
    #header-page-title .right {float:none; width:auto;}
    
    #home-boxes {padding:35px 0px 0 0px; margin:0;}
    #home-boxes .box {width:31.5%; margin:0 0 0 2.75%;}
    #home-boxes .box:first-child {margin-left:0;}
    #home-boxes .box a.button {width:auto;}
    #home-boxes .box .more {width:100%; margin:0; left:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding:25px 15px 25px 15px; top:182px;}
    
    #header .scrollDown {margin:50px 0 0 3px;}
    
    #content .column {float:none; width:auto; margin-right:0; padding-bottom:15px;}
    
    #container.full #content .column {float:none; width:auto; margin-right:0; margin-bottom:0; padding-bottom:15px;}
    #container.full #content .column.last {margin-right:0;}
    
    #content .box {display:none;}
    
    #footer .left {float:none; width:auto; padding-right:0;}
    #footer .right {float:none; padding-left:0; width:auto; border-top:1px solid #979fa6; border-left:none; padding-top:20px; margin-top:25px;}
    
    #footer .social-icons {margin-left:0; padding-top:25px;}
    #footer .social-icons a {margin-left:0;}
    #footer #footer-nav {display:none;}
    
    #page-banner {min-height:350px;}
    
    #services .service a .text {font-size:18px; line-height:24px;}
    
    #container.has-sidebar-left #content {padding-left:0;}
    #breadcrumbs {padding-left:0;}
    #sidebar-nav {display:none;}
    body.blog #sidebar-nav {display:block;}
    #sidebar-left {position:relative; width:auto; left:auto; top:auto;}
    
    #container.has-sidebar-right #content {padding-right:0;}
    #sidebar-right {position:relative; width:auto; right:auto; top:auto;}
    body.blog #breadcrumbs {padding-left:0;}
    body.single-post #breadcrumbs {padding-left:0;}
    
    /*#header .scrollDown {display:none;}*/
    
        
    #content .share-post p {display:inline-block;}
    #content .share-post a {margin:3px 0px 3px 20px;}
    
    body.page-id-7 #container {background-image:none !important;}
}

@media screen and (max-width: 720px){
    #services-container {padding:15px 0 25px 0;}
    #services-container h1 {font-size:34px; line-height:44px; padding:15px 0;}
    #services .service {width:auto; clear:both; float:none; margin-bottom:15px; margin-right:0 !important; height:auto !important;}
    #services .service a {height:auto !important; min-height:60px;}
    
}

@media screen and (max-width: 660px){
    #wrapper {padding:8px;}
    
    .home #header-container {min-height:1px !important;}
    #header-container {padding:0 7px;}
    
    #logo {max-width:190px;}
    
    #mobile-nav {top:73px;}
    #mobile-menu-button {font-size:14px; margin-top:6px;}
    #mobile-menu-button .lines {width:20px;}
    #mobile-menu-button .lines .line {width:20px;}
    
    #header-page-title {padding:50px 0 0 0;}
    #header-page-title h1 {font-size:40px; line-height:40px;}
    #header-page-title p {padding-top:0px; font-size:16px; line-height:22px;}
    
    #home-boxes {padding:35px 3px 0 3px;}
    #home-boxes .box {width:auto; float:none; margin:0 0 10px 0;}
    #home-boxes .box a.button {height:90px;}
    #home-boxes .box a.button .text {top:35px; padding:0 8px;}
    #home-boxes .box .more {position:relative; top:auto; padding:15px 3px 0 3px;}
    #home-boxes .box .more ul {display:block; border:none !important; padding-bottom:15px;}
    
    #header .scrollDown {display:none;}
        
    #content p {padding-bottom:16px;}
    #content h2 {padding-bottom:16px;}
    #content h1 {padding:0 0 16px 0;}
    
    #content .contact-form-container {padding:25px 15px;}
    #content .contact-form-container h2 {font-size:26px; line-height:30px;}
    #content .contact-form {padding:15px 0 0 0;}
    #content .contact-form label {font-size:18px; line-height:26px; padding:0 0 2px 0;}
    #content .contact-form input[type="text"], #content .contact-form input[type="tel"], #content .contact-form input[type="email"], #content .contact-form input[type="password"] {padding-left:6px; font-size:16px; height:40px; line-height:40px; margin-bottom:15px;}
    #content .contact-form textarea {padding-left:6px; font-size:16px; min-height:100px; height:100px; line-height:30px; padding-top:10px; margin-bottom:10px;}
    #content .contact-form input[type="submit"] {font-size:18px; line-height:30px;}
    
    #container {padding:15px 0 15px 0;}
    .home #container {padding:35px 0 15px 0;}
    #content .inner {padding:15px 0 0 0;}
    
    #page-title h1 {font-size:40px; line-height:40px; letter-spacing:-2px;}
    
    #footer-container {padding:0 7px;}
    #footer {padding:15px 0;}
    #footer .left p {padding-bottom:10px;}
    
    #footer .phone-numbers p {font-size:14px; line-height:26px; padding:4px 0 4px 20px; background-size:15px auto !important;}
    #footer .phone-numbers strong:first-of-type {width:auto;}
    #footer .social-icons {padding-top:15px;}
    
    #credits {float:left; margin-top:10px;}
    
    #page-banner-container {padding:0 7px;}
    #page-banner {min-height:1px;}
    #page-banner h1 {font-size:50px; line-height:50px; padding:65px 0;}
    
    #content ul li {padding:6px 0 6px 13px;}
    #content ul li:before {top:20px;}
    
    #services-container h1 {font-size:30px; line-height:40px; padding:15px 0;}
    #services .service a .text {font-size:16px; line-height:22px;}
    
    #content img {max-width:100%; height:auto; margin:20px 0 20px 0;}
    #content .alignright {float:right; margin:20px 0 20px 20px;}
    #content .alignleft {float:left; margin:20px 20px 20px 0;}
    
    #container.has-sidebar-left {padding-top:15px;}
    #container.has-sidebar-right {padding-top:15px;}
    
    #breadcrumbs-container {padding:0 0 10px 0;}
    #breadcrumbs span {font-size:11px; margin-right:6px;}
    #breadcrumbs p {font-size:11px; margin-right:6px;}
    #breadcrumbs a {font-size:11px; margin-right:6px;}
    
    #content #posts .post {padding-left:0; min-height:1px; margin-bottom:50px;}
    #content #posts .post .post-thumb {max-width:none; position:relative; left:auto; top:auto; padding-bottom:15px;}
    #content #posts .post .post-thumb a img{max-width:none; width:100%;}
    #content #posts .post .post-date {padding-bottom:15px;}
    #content #posts .post h1 {font-size:32px; line-height:40px; padding:0 0 11px 0;}
    #content #posts .post .post-event-date {font-size:16px; line-height:24px; padding-bottom:10px;}    
    
    #home-boxes .box .more ul {max-width:none;}
    
    #content .share-post {padding:15px 0;}    
    #content .share-post p {display:block; padding:0 0 6px 0;}
    #content .share-post a {margin:3px 12px 3px 0px;}
    
    
    #content #commentform label {font-size:18px;}
    #content #commentform input[type="text"], #content #commentform input[type="tel"], #content #commentform input[type="email"], #content #commentform input[type="password"] {padding-left:6px; font-size:18px; height:40px; line-height:40px; padding-top:6px;}
    
    #content #commentform textarea {font-size:18px; min-height:93px; height:93px; line-height:30px; padding-left:6px; margin-bottom:9px;}
    
    #content #commentform input[type="submit"] {font-size:18px; line-height:32px;}
    #content #commentform p {padding:0;}
    #content #comments img.avatar {max-width:64px;}
    #content #comments .comment-author {position:relative; padding-left:86px; padding-bottom:10px;}
    #content #comments .reply {padding-left:86px;}
    #content #comments ol li {min-height:64px; padding:0 0 25px 0 !important;}
    #content #comments ol ol {padding-left:35px;}
    #content #comments .comment.comment-content {padding-left:86px;}    

    #header .scrollDown {display:none;}
}


@media screen and (max-width: 440px){
    #content .alignright {float:none; margin:20px auto;}
    #content .alignleft {float:none; margin:20px auto;}
}